@model IEnumerable<Booking>
@{
    ViewData["Title"] = "Bookings";
    Context.Session.SetString("BookingForm", "AddNewBooking");
}
<h1 class="display-5">@ViewData["Title"]</h1>
<br/>
<div>
    <a asp-controller="Home" asp-action="BookingForm"><button class="btn btn-primary">Add New Booking</button></a>
</div>
<br/>
<input type="text" id="myInput" onkeyup="searchForBookerByName()" placeholder="Start typing a name...">
<br/><br/>
<div class="text-center">
    <table class="table-responsive table-bordered" id="myTable">
        <thead>
        <tr>
            <th onclick="sortTable(1)">Reservation ID</th>
            <th onclick="sortTable(2)">Booker's Name</th>
            <th onclick="sortTable(3)">Booker's Email</th>
            <th onclick="sortTable(5)">Night(s)</th>
            <th onclick="sortTable(6)">Adult(s)</th>
            <th onclick="sortTable(7)">Child(ren)</th>
            <th onclick="sortTable(8)">Infant(s)</th>
            <th onclick="sortTable(9)">Total</th>
            <th onclick="sortTable(10)">Country</th>
            <th onclick="sortTable(11)">Arrival Date</th>
            <th onclick="sortTable(12)">Departure Date</th>
            <th onclick="sortTable(13)">Status</th>
            <th onclick="sortTable(14)">Created</th>
            <th onclick="sortTable(15)">Modification Date</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var booking in Model)
        {
            <tr onclick="location.href = '@(Url.Action("Reservation", "Home", new { id = booking.ID }))'">
                <td>@booking.ID</td>
                <td id="booker-name">@booking.BookersName</td>
                <td>@booking.Email</td>
                <td>@booking.Nights</td>
                <td>@booking.Adults</td>
                <td>@booking.Children</td>
                <td>@booking.Infants</td>
                <td>@booking.Total</td>
                <td>@booking.Country</td>
                <td>@booking.ArrivalDate.ToShortDateString()</td>
                <td>@booking.DepartureDate.ToShortDateString()</td>
                <td>@booking.Status</td>
                <td>@booking.Created.ToShortDateString()</td>
                @if (booking.ModificationDate != DateTime.MinValue)
                {
                    <td>@booking.ModificationDate</td>
                }
                else
                {
                    <td></td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>