@model ElProyecteGrande.Models.Booking

@{
    if (Context.Session.GetString("BookingForm") == "AddNewBooking")
    {
        ViewBag.Title = "Add New Booking";
    }
    else
    {
        ViewBag.Title = "Edit Booking";
    }
    Layout = "_Layout";
}

<div class="container form-control">
    <h2>@ViewBag.Title</h2><br/>
    @using (var form = Html.BeginForm(Context.Session.GetString("BookingForm"), "Home", FormMethod.Post))
    {
        @Html.ValidationSummary()
        <div class="row">
            <div class="col">
                @Html.LabelFor(m => m.BookersName) <br/>
                @Html.TextBoxFor(m => m.BookersName, new { Class = "form-control" })
            </div>

            <div class="col">
                @Html.LabelFor(m => m.Email) <br/>
                @Html.TextBoxFor(m => m.Email, new { Class = "form-control" })
            </div>

            <div class="col">
                @Html.LabelFor(m => m.Country) <br/>
                @Html.TextBoxFor(m => m.Country, new { Class = "form-control" })
            </div>
        </div>
        <div class="row">
            @if (Model != null)
            {
                <div class="col">
                    @Html.LabelFor(m => m.Adults) <br/>
                    <input class="form-control" asp-for="Adults" min="@Model.Adults" type="number"/>
                </div>
                <div class="col">
                    @Html.LabelFor(m => m.Children) <br/>
                    <input class="form-control" type="number" asp-for="Children" min="@Model.Children"/>
                </div>
                <div class="col">
                    @Html.LabelFor(m => m.Infants) <br/>
                    <input class="form-control" type="number" asp-for="Infants" min="@Model.Infants"/>
                </div>
            }
            else
            {
                <div class="col">
                    @Html.LabelFor(m => m.Adults) <br/>
                    <input class="form-control" asp-for="Adults" min="0" type="number"/>
                </div>
                <div class="col">
                    @Html.LabelFor(m => m.Children) <br/>
                    <input class="form-control" type="number" asp-for="Children" min="0"/>
                </div>
                <div class="col">
                    @Html.LabelFor(m => m.Infants) <br/>
                    <input class="form-control" type="number" asp-for="Infants" min="0"/>
                </div>
            }
        </div>
        <div class="row">
            <div class="col">
                @Html.LabelFor(m => m.ArrivalDate) <br/>
                <input class="form-control" type="date" asp-for="ArrivalDate"/>
            </div>
            <div class="col">
                @Html.LabelFor(m => m.DepartureDate) <br/>
                <input class="form-control" type="date" asp-for="DepartureDate"/>
            </div>
        </div>
        <br/>
        @if (Context.Session.GetString("BookingForm") == "EditBooking")
        {
            <input type="hidden" asp-for="ID" value="@Model.ID">
        }
        <div>
            <input class="btn btn-primary" type="submit" value="Submit Form"/>
        </div>
    }
</div>