@model ElProyecteGrande.Models.Booking

@{
    if (Context.Session.GetString("BookingForm") == "AddNewBooking")
    {
        ViewBag.Title = "Add New Booking";
    }
    else
    {
        ViewBag.Title = "Edit Booking";
    }
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2><br/>
<div class="container h-50">
    @using (var form = Html.BeginForm(Context.Session.GetString("BookingForm"), "Home", FormMethod.Post))
    {
        @Html.ValidationSummary()

        <div class="booking">
            @Html.LabelFor(m => m.BookersName) <br/>
            @Html.TextBoxFor(m => m.BookersName)
        </div>

        <div class="booking">
            @Html.LabelFor(m => m.Email) <br/>
            @Html.TextBoxFor(m => m.Email)
        </div>

        <div class="booking">
            @Html.LabelFor(m => m.Country) <br/>
            @Html.TextBoxFor(m => m.Country)
        </div>

        
            @if (Model != null)
            {
                <div class="booking">
                    @Html.LabelFor(m => m.Adults) <br/>
                <input asp-for="Adults" min="@Model.Adults" type="number" />
            
                </div>

                <div class="booking">
                           @Html.LabelFor(m => m.Children) <br/>
                <input type="number" asp-for="Children"  min="@Model.Children"/>
                </div>

                <div class="booking">
                           @Html.LabelFor(m => m.Infants) <br/>
                <input type="number" asp-for="Infants"  min="@Model.Infants"/>
                 </div>

            }
            else
            {
                <div class="booking">
                    @Html.LabelFor(m => m.Adults) <br/>
                    <input asp-for="Adults" min="0" type="number" />
            
                </div>

                <div class="booking">
                    @Html.LabelFor(m => m.Children) <br/>
                    <input type="number" asp-for="Children"  min="0"/>
                </div>

                <div class="booking">
                    @Html.LabelFor(m => m.Infants) <br/>
                    <input type="number" asp-for="Infants"  min="0"/>
                </div>
            }
           

        <div class="booking">
            @Html.LabelFor(m => m.ArrivalDate) <br/>
            <input type="date" asp-for="ArrivalDate"/>
        </div>

        <div class="booking">
            @Html.LabelFor(m => m.DepartureDate) <br/>
            <input type="date" asp-for="DepartureDate"/>
        </div>
        <div>
            <p>The Room</p>
        </div>

        <div class="booking">
            @Html.LabelFor(m => m.Room.Floor) <br/>
            <input type="number" asp-for="Room.Floor"/>
        </div>

        <div class="booking">
            @Html.LabelFor(m => m.Room.DoorNumber) <br/>
            <input type="number" asp-for="Room.DoorNumber"/>
        </div>

        <div class="booking">
            @Html.LabelFor(m => m.Room.Price) <br/>
            <input type="number" asp-for="Room.Price"/>
        </div>
        <div><br/>
            @Html.LabelFor(m => m.Room.RoomType)<br/>
            <select asp-for="Room.RoomType" asp-items="Html.GetEnumSelectList<RoomType>()"></select>
        </div>
        <br/>
    
        <div class="booking">
            @Html.LabelFor(m => m.Room.Comment) <br/>
            @Html.TextBoxFor(m => m.Room.Comment)
        </div>
        <br/>
        @if (Context.Session.GetString("BookingForm")=="EditBooking")
        {
            <input type="hidden" asp-for="ID" value="@Model.ID">
        }
        <div>
            <input class="btn-primary" type="submit" value="Submit Form"/>
        </div>
    }
</div>