@model IEnumerable<Booking>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        <ul>
            @foreach (var book in Model)
            {
                <li>@book.ID</li>
                <li>@book.BookersName</li>
                <li>@book.Room.GetEnumValue(book.Room.RoomType)</li>
                <li>@book.Room.GetEnumValue(book.Room.RoomStatus)</li>
                <li>@book.Room.Price</li>
                <li>@book.ArrivalDate</li>
                <li>@book.DepartureDate</li>
                <li>@book.Nights</li>
                <li>@book.GetEnumValue(book.Status)</li>

                
            }
            
        </ul>
    </div>
   
</div>
