@using ElProyecteGrande.Dao
@model ElProyecteGrande.Models.Booking

@{
    ViewBag.Title = "Add New Guest";
    Layout = "_Layout";
}

<h2>Add New Booking</h2><br/>
<div class="container h-50">
    @using (var form = Html.BeginForm("AddNewBooking","Home",FormMethod.Post))
    {
        @Html.ValidationSummary()

        <div class="booking">
            @Html.LabelFor(m => m.BookersName) <br/>
            @Html.TextBoxFor(m => m.BookersName)
        </div>

        <div class="booking">
            @Html.LabelFor(m => m.Email) <br/>
            @Html.TextBoxFor(m => m.Email)
        </div>

        <div class="booking">
            @Html.LabelFor(m => m.Adults) <br/>
            @Html.TextBoxFor(m => m.Adults)
        </div>

        <div class="booking">
            @Html.LabelFor(m => m.Children) <br/>
            @Html.TextBoxFor(m => m.Children)
        </div>

        <div class="booking">
            @Html.LabelFor(m => m.Infants) <br/>
            @Html.TextBoxFor(m => m.Infants)
        </div>

        <div class="booking">
            @Html.LabelFor(m => m.ArrivalDate) <br/>
            <input type="date" class="form-control" asp-for="ArrivalDate"/>
        </div>

        <div class="booking">
            @Html.LabelFor(m => m.DepartureDate) <br/>
            <input type="date" class="form-control" asp-for="DepartureDate"/>
        </div>
        
        <div>
            <p>The Room</p>
        </div>
        <div class="booking">
            @Html.LabelFor(m =>m.Room.Floor) <br/>
            @Html.TextBoxFor(m => m.Room.Floor)
        </div>

        <div class="booking">
            @Html.LabelFor(m => m.Room.DoorNumber) <br/>
            @Html.TextBoxFor(m => m.Room.DoorNumber)
        </div>

        <div class="booking">
            @Html.LabelFor(m => m.Room.Price) <br/>
            @Html.TextBoxFor(m => m.Room.Price)
        </div>
        <div><br/>
            @Html.LabelFor(m=>m.Room.RoomType)<br/>
            <select asp-for="Room.RoomType" asp-items="Html.GetEnumSelectList<RoomType>()"></select>
        </div>
        <br/>

        <div class="booking">
            @Html.LabelFor(m => m.Room.Comment) <br/>
            @Html.TextBoxFor(m => m.Room.Comment)
        </div>
        <br/>
        <div>
            <input class="btn-primary" type="submit" value="Submit Form" />
        </div>
    }
</div>