@model Booking
@{
    ViewData["Title"] = "Reservation";
    Context.Session.SetString("BookingForm", "EditBooking");
}
<h1 class="display-5">@ViewData["Title"]</h1>

<a asp-controller="Home" asp-action="CancelBooking" asp-route-id="@Model.ID">
    <button class="btn btn-primary btn-danger">Cancel</button>
</a>
@if(Model.Status!=Status.Cancelled){
    <a asp-controller="Home" asp-action="BookingForm" asp-route-id="@Model.ID">
        <button class="btn btn-primary">Edit</button>
    </a>
}
<div>
    <p>Reservation ID: @Model.ID</p>
    <p>Status: @Model.Status</p>
    <p>Booker's Name: @Model.BookersName</p>
    <p>Booker's Email: @Model.Email</p>
    <p>Country: @Model.Country</p>
    <p>Night(s): @Model.Nights</p>
    <p>Number of Guest(s): @Model.Guests.Count <br/>
        Adult(s): @Model.Adults
        Child(ren): @Model.Children
        Infant(s): @Model.Infants
    </p>
    <p>Arrival Date: @Model.ArrivalDate.ToShortDateString()</p>
    <p>Departure Date: @Model.DepartureDate.ToShortDateString()</p>
    <p>Created: @Model.Created</p>
    @if (Model.ModificationDate != DateTime.MinValue)
    {
        <p>Modification Date: @Model.ModificationDate</p>
    }
</div>
<h1 class="display-5">Guests</h1>
<div>
    <table class="table-responsive table-bordered">
        <thead>
        <tr>
            <th>Full Name</th>
            <th>Age</th>
            <th>Birth Date</th>
            <th>Birth Place</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Country</th>
            <th>City</th>
            <th>Address</th>
            <th>Postal code</th>
            <th>Citizenship</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var guest in @Model.Guests)
        {
            <tr>
                <td>@guest.FullName</td>
                <td>@guest.Age</td>
                <td>@guest.BirthDate</td>
                <td>@guest.BirthPlace</td>
                <td>@guest.Email</td>
                <td>@guest.Phone</td>
                <td>@guest.Country</td>
                <td>@guest.City</td>
                <td>@guest.Adress</td>
                <td>@guest.PostalCode</td>
                <td>@guest.Citizenship</td>
                <td><a asp-action="EditGuest" asp-route-id="@guest.ID">
                    <button type="button" class="btn btn-outline-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"></path>
                        </svg></button>
                </a></td>
                <td><a asp-action="DeleteGuestFromBooking" asp-route-bookingId="@Model.ID" asp-route-guestId="@guest.ID">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </a></td>
            </tr>
        }
        </tbody>
    </table>
</div>
<h1 class="display-5">Room</h1>
<div>
    <p>Room Type: @Model.Room.RoomType</p>
    <p>Floor: @Model.Room.Floor</p>
    <p>DoorNumber: @Model.Room.DoorNumber</p>
    <p>Comment: @Model.Room.Comment</p>
    <p>Price: @Model.Room.Price</p>
</div>